# Visual Studio specific
.vs/
*.suo
*.user

# Build results
[Bb]in/
[Oo]bj/

# NuGet packages
[Pp]ackages/

# Our specific secret files
*.secrets.config
connectionstrings.config

# Other common files
*.log
*.DS_Store